<%= link_to 'Back', url_for(:action => 'show', :model => @model.to_s) %>
<p>Edit</p>
<% form_tag url_for(:action => 'update', :model => @model.to_s) do%>
	<% @columns.each do |column| %>
		<% unless column.primary %>
			<div>
				<%= label_tag @model, column.name %>
				<%= field_for(@model, column, @resource.send(column.name)) %>
			</div>
		<% end %>
	<% end %>
	<%= submit_tag 'Save' %>
<% end %>