<% form_for [:admin, :kitsune, @page] do |f| %>
	<div class='text_field'>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class='submit_button'>
		<%= f.submit 'Save' %>
	</div>
<% end %>