<html>
	<head>
		<title>Kitsune CMS</title>
		<style type='text/css'>
			body {
				background-color: #CCC;
				font-family: sans-serif;
			}
			
			#content {
				width: 960px;
				border: 1px solid #AAA;
				margin: 0 auto;
				background: #FFF;
				padding: 10px;
			}
		</style>
	</head>
	<body>
		<div id='content'>
			<%= yield %>
		</div>
	</body>
</html>