<html>
	<head>
		<title>Kitsune CMS</title>
		<%= stylesheet_link_tag 'kitsune/global.css' %>
		<%= javascript_include_tag 'kitsune/nicEdit.js' %>
	</head>
	<body>
		<div id='content'>
			<div id='header'>
				<h1><a href='/admin/models'>Kitsune</a></h1>
				<a href='/'>View Site</a>
			</div>
			<div class='kitsune_container'>
				<div class='kitsune_left'>
					<% @models.each do |model| %>
						<div class='kitsune_model_link'><%= link_to model.admin_name, admin_kitsune_model_records_path(model.object_class) %></div>
					<% end %>
				</div>
				<div class='kitsune_right'>
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>