<html>
	<head>
		<title>Kitsune CMS</title>
		<%= stylesheet_link_tag 'kitsune/global.css' %>
	</head>
	<body>
		<div id='content'>
			<div id='header'>
				<h1><a href='/admin/models'>Kitsune</a></h1>
			</div>
			<%= yield %>
		</div>
	</body>
</html>