<div id='kitsune_record_header'>
	<h2 class='legend'>Edit <%= params[:model_id] %></h2>
	<div id='menu'>
		<%= link_to 'Back', :controller => 'admin/kitsune/records', :model_id => params[:model_id] %>
	</div>
</div>
<%= render 'form' %>