<div id='kitsune_record_header'>
	<h2 class='legend'>New <%= params[:model_id] %></h2>
	<div id='menu' class='with_form'>
		<%= link_to 'Back', :controller => 'admin/kitsune/records', :model_id => params[:model_id] %>
	</div>
</div>

<%= render 'form' %>