/* -------RESET------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  color: black;
  background: white;
}

a {
	color:#666;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}


/* -------COMMON------- */
body {
	background-color: #eee;
	color: #000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3em; 
}

h1 { 
	font-size: 1.4em; 
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em;
}
h5 {
	font-size: 1em;
}

p {
	font-size: 1em;
}


form {
}
fieldset {
	background: #F6F6F6;
	border: 1px solid #eee;
	padding: 30px 0 0 0;
}
h2.legend {
	width: 100%;
	border-bottom: 1px solid #eee;
	font-size: 1.3em;
	padding: 5px 0;
	margin-bottom: 10px;
	color: #555;
}
label {
	font-weight: bold;
	font-size: 1em;
	margin: 0 0 3px 0;
	text-transform: ;
	color: #aaa;
}
input, textarea {
	font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: .9em;
	border: 1px solid #ccc;
	padding: 5px;
}
input:focus, textarea:focus {
	border: 1px solid #e1cd30;
	background-color: #fbffeb;
}
select {
	font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: .9em;
}

fieldset {
	clear: both;
}

fieldset fieldset legend {
	padding: 0 0 1.5em; font-size: 1em;
}
* html legend {
	margin-left: -7px; /* ie6 */
}
*+html legend {
	margin-left: -7px; /* ie7 */
}

form .field, form .buttons, form .submit_button {
	clear: both;
	margin: 0 0 1.5em;
	padding:0 20px;
}
	form .field label {
		display: block;
	}
form ul.fields {
	margin: 0 0 1.5em; 
	padding: 0;
}
	form ul.fields li {
		list-style-type: none; 
		margin: 0;
	}
	form ul.inline li, form ul.inline label {
		display: inline;
	}
form ul.inline {
	
}
	form ul.inline li {
		padding: 0 .75em 0 0;
	}
form .submit_button {
	background-color:#eee;
	border-top:1px solid #ddd;
	margin:0;
	padding:15px 20px;
}

input.radio, input.checkbox {
	vertical-align: top;
}
label, button, input.submit, input.image {
	cursor: pointer;
}
input.submit { 
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	background-color: #333; 
	color: #fff; 
	border: none;
	padding: 4px 20px;
}
* html input.radio, * html input.checkbox {vertical-align: middle;} /* ie6 */
*+html input.radio, *+html input.checkbox {vertical-align: middle;} /* ie7 */

textarea {overflow: auto;}
input.text, input.password, textarea, select {margin: 0; vertical-align: baseline;}
input.text, input.password, textarea {border: 1px solid #444; padding: 2px;}

/* horizontal layout */
form.horizontal .field {padding-left: 150px;}
form.horizontal .field label {display: inline; float: left; width: 140px; margin-left: -150px;}


/* ----- TABLES ----- */

table {
	width: 100%;
	padding: 0;
	background: #fff;
}

caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	text-align: right;
}

th {
	color: #4f6b72;
	border-bottom: 1px solid #ddd;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #fff;
	color: #555;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #ddd;
	background: none;
}

td {
	border-bottom: 1px solid #eee;
	background: #f6f6f6;
	color: #333;
	font-size: .9em;
	overflow:hidden;
	max-width:300px;
	padding: 8px 6px 8px 12px;
	white-space:nowrap;
}

tr.alt, td.alt {
	background: #F5FAFA;
	color: #797268;
}


/* BUTTON STYLES */		
button { 
	position: relative;
	border: 0; 
	padding: 0;
	cursor: pointer;
	overflow: visible; /* removes extra side padding in IE */
	margin: 0 0;
}

button::-moz-focus-inner {
	border: none;  /* overrides extra padding in Firefox */
}

button span { 
	position: relative;
	display: block; 
	white-space: nowrap;	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari and Google Chrome only - fix margins */
	button span {
		margin-top: -1px;
	}
}


/* OPTIONAL BUTTON STYLES */		
button.submitBtn { 
	background: transparent url('/images/kitsune/grey-btn.png') no-repeat left top;
	color: #000;
	display:block;
	height:38px;
	text-indent:-9999em;
	width:92px;
}
button.submitBtn:hover {
	background-position:left bottom;
}

#header {
	background:url('/images/kitsune/header-bg.gif') repeat-x left top;
	height: 38px;
	width: 100%;
}
	#header a.view {
		background: url('/images/kitsune/header-link.png') top left no-repeat;
		display: block;
		float: right;
		height: 27px;
		margin: 5px 15px 0 0;
		text-indent: -9999em;
		width: 92px;
	}
	#header a.view:hover {
		color: #FFF;
	}
	#header h1 {
		float: left;
		padding-top: 8px;
		margin-left: 15px;
	}
		#header h1 a {
			text-decoration: none;
			color: #fff;
		}

.kitsune_container {
	background:url('/images/kitsune/content-bg.gif') repeat-x left top;
	padding-top: 20px;
	position: relative;
	width: 100%;
}
	.kitsune_left {
		background:url('/images/kitsune/box-shadow.png') no-repeat right bottom;
		left: 20px;
		padding: 0 4px 4px 0;
		position: absolute;
		top: 20px;
		width: 275px;
	}
		.kitsune_left .wrapper {
			background:#fff;
			border: 1px solid #ccc;
			padding: 15px;
		}

	.kitsune_right_container {
		background:url('/images/kitsune/box-shadow.png') no-repeat right bottom;
		margin: 0 20px 0 310px;
		padding: 0 4px 4px 0;
	}
		.kitsune_right {
			background: #fff;
			border: 1px solid #ccc;
			padding: 0 15px 15px;
		}
			.kitsune_right p {
				margin:1em 0;
			}

#kitsune_record_header {
	position:relative;
	width: 100%;
	margin-bottom: 15px;
}
	#kitsune_record_header h2 {
		padding-top:15px;
	}
	#kitsune_record_header #menu {
		position:absolute;
		right:0;
		text-transform:lowercase;
		top:15px;
	}
		#kitsune_record_header #menu a {
			display: block;
			line-height:1;
			text-align:right;
			width: 51px;
		}
		#kitsune_record_header #menu.with_form a {
			background:url('/images/kitsune/back-arrow.gif') no-repeat left 100px;
		}
		#kitsune_record_header #menu a:hover {
			background-position: left 5px;
		}

#body {
	width: 84%;
	padding: 30px 3% 50px 3%;
	margin: 40px 5% 10px 5%;
	background-color: #fff;
}

/* Clearfix */
.wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.wrapper {
	display: inline-block;
}
 
html[xmlns] .wrapper {
	display: block;
}
 
* html .wrapper {
	height: 1%;
}

.kitsune_left a {
  display: block;
  padding: 5px;
}
a:hover {
  color: #222;
}
.kitsune_left a:hover {
  color: #222 !important;
  background-color: #eee;
}
.highlight td {
  background-color: #e2e2e2;
}

.warning {
	padding: 5px;
	text-align: center;
	background-color: #FF0;
	border: 1px solid #FFD700;
	color: #CB9603;
	margin-bottom: 10px;
}

.record_details {
	margin: 0 20px 20px 20px;
	border: 1px solid #BEDCE7;
	background: #EAF2F5;
	padding: 10px;
}

.record_details a {
	margin-right: 10px;
}